# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=1.4.0=pypi_0
aiohttp=3.8.4=pypi_0
aiohttp-cors=0.7.0=pypi_0
aioredis=2.0.1=pypi_0
aiosignal=1.3.1=pypi_0
alabaster=0.7.13=pypi_0
ansicon=1.89.0=pypi_0
antlr4-python3-runtime=4.8=pypi_0
anyio=3.6.2=pypi_0
appdirs=1.4.4=pypi_0
argcomplete=1.12.3=pypi_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
ast-decompiler=0.7.0=pypi_0
astatine=0.3.2=pypi_0
astor=0.8.1=pypi_0
astpretty=2.1.0=pypi_0
astroid=2.15.0=pypi_0
asttokens=2.2.1=pypi_0
async-timeout=4.0.2=pypi_0
asynctest=0.13.0=pypi_0
atomicwrites=1.4.1=pypi_0
attrs=22.2.0=pypi_0
autoflake=1.7.8=pypi_0
babel=2.12.1=pypi_0
backcall=0.2.0=pypi_0
bandit=1.7.5=pypi_0
beautifulsoup4=4.12.0=pypi_0
black=22.12.0=pypi_0
bleach=6.0.0=pypi_0
blessed=1.20.0=pypi_0
bnpy=0.1.7=pypi_0
brotli=1.0.9=pypi_0
ca-certificates=2023.01.10=haa95532_0
cachetools=4.2.4=pypi_0
certifi=2022.12.7=py37haa95532_0
cffi=1.15.1=pypi_0
cfgv=3.3.1=pypi_0
charset-normalizer=2.1.1=pypi_0
click=8.1.3=pypi_0
cloudpickle=2.2.1=pypi_0
cognitive-complexity=1.3.0=pypi_0
colorama=0.4.6=pypi_0
colorful=0.5.5=pypi_0
colorlog=4.8.0=pypi_0
coverage=6.5.0=pypi_0
cycler=0.11.0=pypi_0
cython=0.29.33=pypi_0
darglint=1.8.1=pypi_0
debugpy=1.6.6=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
dill=0.3.6=pypi_0
distlib=0.3.6=pypi_0
dlint=0.14.0=pypi_0
doc8=0.11.2=pypi_0
docformatter=1.5.1=pypi_0
docutils=0.17.1=pypi_0
domdf-python-tools=3.6.0=pypi_0
entrypoints=0.4=pypi_0
eradicate=2.2.0=pypi_0
exceptiongroup=1.1.1=pypi_0
execnet=1.9.0=pypi_0
fasteners=0.18=pypi_0
fastjsonschema=2.16.3=pypi_0
filelock=3.10.4=pypi_0
flake8=4.0.1=pypi_0
flake8-2020=1.6.1=pypi_0
flake8-aaa=0.14.0=pypi_0
flake8-annotations=2.9.1=pypi_0
flake8-annotations-complexity=0.0.7=pypi_0
flake8-annotations-coverage=0.0.6=pypi_0
flake8-bandit=3.0.0=pypi_0
flake8-black=0.3.6=pypi_0
flake8-blind-except=0.2.1=pypi_0
flake8-breakpoint=1.1.0=pypi_0
flake8-broken-line=0.4.0=pypi_0
flake8-bugbear=22.12.6=pypi_0
flake8-builtins=1.5.3=pypi_0
flake8-class-attributes-order=0.1.3=pypi_0
flake8-coding=1.3.2=pypi_0
flake8-cognitive-complexity=0.1.0=pypi_0
flake8-commas=2.1.0=pypi_0
flake8-comments=0.1.2=pypi_0
flake8-comprehensions=3.11.1=pypi_0
flake8-debugger=4.1.2=pypi_0
flake8-django=1.1.5=pypi_0
flake8-docstrings=1.5.0=pypi_0
flake8-encodings=0.5.0.post1=pypi_0
flake8-eradicate=1.4.0=pypi_0
flake8-executable=2.1.3=pypi_0
flake8-expression-complexity=0.0.11=pypi_0
flake8-fixme=1.1.1=pypi_0
flake8-functions=0.0.7=pypi_0
flake8-functions-names=0.1.0=pypi_0
flake8-future-annotations=0.0.5=pypi_0
flake8-helper=0.2.1=pypi_0
flake8-isort=4.2.0=pypi_0
flake8-literal=1.3.0=pypi_0
flake8-logging-format=0.9.0=pypi_0
flake8-markdown=0.3.0=pypi_0
flake8-mutable=1.2.0=pypi_0
flake8-no-pep420=2.3.0=pypi_0
flake8-noqa=1.3.1=pypi_0
flake8-pie=0.16.0=pypi_0
flake8-plugin-utils=1.3.2=pypi_0
flake8-polyfill=1.0.2=pypi_0
flake8-pyi=22.11.0=pypi_0
flake8-pylint=0.2.0=pypi_0
flake8-pytest-style=1.7.2=pypi_0
flake8-quotes=3.3.2=pypi_0
flake8-rst-docstrings=0.2.7=pypi_0
flake8-secure-coding-standard=1.3.0=pypi_0
flake8-simplify=0.19.3=pypi_0
flake8-slots=0.1.5=pypi_0
flake8-string-format=0.3.0=pypi_0
flake8-tidy-imports=4.8.0=pypi_0
flake8-typing-imports=1.12.0=pypi_0
flake8-use-fstring=1.4=pypi_0
flake8-use-pathlib=0.3.0=pypi_0
flake8-useless-assert=0.4.4=pypi_0
flake8-variables-names=0.0.5=pypi_0
flake8-warnings=0.4.0=pypi_0
flask=2.2.3=pypi_0
flask-compress=1.13=pypi_0
frozenlist=1.3.3=pypi_0
gitdb=4.0.10=pypi_0
gitpython=3.1.31=pypi_0
glfw=2.5.7=pypi_0
google=3.0.0=pypi_0
google-api-core=2.10.2=pypi_0
google-auth=1.35.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
googleapis-common-protos=1.59.0=pypi_0
gpustat=1.0.0=pypi_0
grpcio=1.51.3=pypi_0
gym=0.26.2=pypi_0
gym-notices=0.0.8=pypi_0
hiplot=0.1.22=pypi_0
hydra-core=1.0.5=pypi_0
hydra-submitit-launcher=1.0.1=pypi_0
hypothesis=6.70.0=pypi_0
hypothesmith=0.1.9=pypi_0
identify=2.5.22=pypi_0
idna=3.4=pypi_0
imageio=2.9.0=pypi_0
imageio-ffmpeg=0.4.3=pypi_0
imagesize=1.4.1=pypi_0
importlib-metadata=4.2.0=pypi_0
importlib-resources=5.12.0=pypi_0
incremental=22.10.0=pypi_0
iniconfig=2.0.0=pypi_0
ipykernel=6.16.2=pypi_0
ipython=7.34.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=8.0.5=pypi_0
isort=5.7.0=pypi_0
itsdangerous=2.1.2=pypi_0
jedi=0.18.2=pypi_0
jinja2=3.1.2=pypi_0
jinxed=1.2.0=pypi_0
joblib=0.14.1=pypi_0
json5=0.9.11=pypi_0
jsonschema=4.17.3=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=7.4.9=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-contrib-core=0.4.2=pypi_0
jupyter-core=4.12.0=pypi_0
jupyter-nbextensions-configurator=0.4.1=pypi_0
jupyter-server=1.23.6=pypi_0
jupyterlab=3.0.3=pypi_0
jupyterlab-flake8=0.7.1=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-server=2.21.0=pypi_0
jupyterlab-widgets=3.0.6=pypi_0
kiwisolver=1.4.4=pypi_0
lark-parser=0.12.0=pypi_0
latexcodec=2.0.1=pypi_0
lazy-object-proxy=1.9.0=pypi_0
libcst=0.4.9=pypi_0
markdown=3.4.3=pypi_0
markdown-it-py=2.2.0=pypi_0
markupsafe=2.1.2=pypi_0
matplotlib=3.3.3=pypi_0
matplotlib-inline=0.1.6=pypi_0
mccabe=0.6.1=pypi_0
mdurl=0.1.2=pypi_0
memory-profiler=0.61.0=pypi_0
metaworld=0.0.0=dev_0
mistune=2.0.5=pypi_0
mllogger=0.7=pypi_0
mr-proper=0.0.7=pypi_0
msgpack=1.0.5=pypi_0
mtenv=1.0=pypi_0
mujoco-py=2.1.2.14=pypi_0
multidict=6.0.4=pypi_0
munkres=1.0.12=pypi_0
mypy=0.790=pypi_0
mypy-extensions=0.4.4=pypi_0
natsort=8.3.1=pypi_0
nbclassic=0.5.3=pypi_0
nbclient=0.7.2=pypi_0
nbconvert=7.2.10=pypi_0
nbformat=5.8.0=pypi_0
nest-asyncio=1.5.6=pypi_0
nodeenv=1.7.0=pypi_0
notebook=6.5.3=pypi_0
notebook-shim=0.2.2=pypi_0
nox=2020.12.31=pypi_0
numexpr=2.8.4=pypi_0
numpy=1.19.5=pypi_0
nvidia-ml-py=11.495.46=pypi_0
oauthlib=3.2.2=pypi_0
omegaconf=2.0.6=pypi_0
opencensus=0.11.2=pypi_0
opencensus-context=0.1.3=pypi_0
opencv-python=4.5.1.48=pypi_0
openssl=1.1.1t=h2bbff1b_0
packaging=23.0=pypi_0
pandas=1.2.0=pypi_0
pandas-vet=0.2.3=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
pathspec=0.9.0=pypi_0
pbr=5.11.1=pypi_0
pep8-naming=0.12.1=pypi_0
pickleshare=0.7.5=pypi_0
pillow=7.1.0=pypi_0
pip=22.3.1=py37haa95532_0
pkgutil-resolve-name=1.3.10=pypi_0
platformdirs=2.6.1=pypi_0
plotly=5.14.1=pypi_0
pluggy=0.13.1=pypi_0
pockets=0.9.1=pypi_0
pre-commit=2.9.3=pypi_0
prometheus-client=0.16.0=pypi_0
prompt-toolkit=3.0.38=pypi_0
protobuf=4.22.1=pypi_0
psutil=5.8.0=pypi_0
py=1.11.0=pypi_0
py-spy=0.3.14=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pybetter=0.4.1=pypi_0
pybtex=0.24.0=pypi_0
pybtex-docutils=1.0.2=pypi_0
pycln=1.3.5=pypi_0
pycodestyle=2.8.0=pypi_0
pycparser=2.21=pypi_0
pydocstyle=6.3.0=pypi_0
pyemojify=0.2.0=pypi_0
pyflakes=2.4.0=pypi_0
pygments=2.14.0=pypi_0
pylint=2.17.1=pypi_0
pymongo=3.11.2=pypi_0
pyparsing=3.0.9=pypi_0
pyproject-toml=0.0.10=pypi_0
pyrsistent=0.19.3=pypi_0
pytest=7.2.2=pypi_0
pytest-cov=3.0.0=pypi_0
pytest-forked=1.6.0=pypi_0
pytest-sugar=0.9.6=pypi_0
pytest-xdist=2.2.0=pypi_0
python=3.7.16=h6244533_0
python-dateutil=2.8.2=pypi_0
python-dev-tools=2022.5.27=pypi_0
pytz=2022.7.1=pypi_0
pyupgrade=2.38.4=pypi_0
pywin32=305=pypi_0
pywinpty=2.0.10=pypi_0
pyyaml=6.0=pypi_0
pyzmq=25.0.2=pypi_0
qtconsole=5.4.1=pypi_0
qtpy=2.3.0=pypi_0
ray=1.0.1.post1=pypi_0
redis=3.4.1=pypi_0
regex=2022.10.31=pypi_0
removestar=1.3.1=pypi_0
requests=2.28.2=pypi_0
requests-oauthlib=1.3.1=pypi_0
restructuredtext-lint=1.4.0=pypi_0
rich=13.3.2=pypi_0
rsa=4.9=pypi_0
scikit-learn=1.0.2=pypi_0
scipy=1.7.3=pypi_0
seaborn=0.12.2=pypi_0
send2trash=1.8.0=pypi_0
setuptools=51.1.1=pypi_0
six=1.16.0=pypi_0
smmap=5.0.0=pypi_0
sniffio=1.3.0=pypi_0
snowballstemmer=2.2.0=pypi_0
sortedcontainers=2.4.0=pypi_0
soupsieve=2.4=pypi_0
sphinx=4.3.2=pypi_0
sphinx-autodoc-annotation=1.0.post1=pypi_0
sphinx-copybutton=0.3.1=pypi_0
sphinx-gallery=0.12.2=pypi_0
sphinx-rtd-theme=0.5.1=pypi_0
sphinxcontrib-applehelp=1.0.2=pypi_0
sphinxcontrib-bibtex=2.1.3=pypi_0
sphinxcontrib-devhelp=1.0.2=pypi_0
sphinxcontrib-htmlhelp=2.0.0=pypi_0
sphinxcontrib-jsmath=1.0.1=pypi_0
sphinxcontrib-napoleon=0.7=pypi_0
sphinxcontrib-qthelp=1.0.3=pypi_0
sphinxcontrib-serializinghtml=1.1.5=pypi_0
sqlite=3.41.1=h2bbff1b_0
ssort=0.10.0=pypi_0
stdlib-list=0.8.0=pypi_0
stevedore=3.5.2=pypi_0
submitit=1.4.5=pypi_0
tenacity=8.2.2=pypi_0
tensorboard=2.4.0=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.17.1=pypi_0
threadpoolctl=3.1.0=pypi_0
tinycss2=1.2.1=pypi_0
tokenize-rt=4.2.1=pypi_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
tomlkit=0.11.6=pypi_0
torch=1.7.1+cu110=pypi_0
torchvision=0.8.2+cu110=pypi_0
tornado=6.2=pypi_0
towncrier=19.2.0=pypi_0
tox=3.28.0=pypi_0
tox-travis=0.13=pypi_0
tqdm=4.65.0=pypi_0
traitlets=5.9.0=pypi_0
typed-ast=1.4.3=pypi_0
typer=0.4.2=pypi_0
typing-extensions=4.5.0=pypi_0
typing-inspect=0.8.0=pypi_0
untokenize=0.1.1=pypi_0
urllib3=1.26.15=pypi_0
vc=14.2=h21ff451_1
virtualenv=20.16.2=pypi_0
vs2015_runtime=14.27.29016=h5e58377_2
wcwidth=0.2.6=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.5.1=pypi_0
wemake-python-styleguide=0.16.1=pypi_0
werkzeug=2.2.3=pypi_0
wheel=0.38.4=py37haa95532_0
widgetsnbextension=4.0.6=pypi_0
wincertstore=0.2=py37haa95532_2
wrapt=1.15.0=pypi_0
yamllint=1.25.0=pypi_0
yarl=1.8.2=pypi_0
zipp=3.15.0=pypi_0
